.wrap{
    background-color: #104050;
    min-height: 100vh;
}
.not-found-content{
    padding: 0 5%;
    display: flex;
    align-items: center;
    margin-top: 15vh;
}
.not-found-svg{
    width: 300px;
    height: 300px;
    fill:#ffefd5;
}
.not-found-title{
    font-size: 85px;
    color: #ffefd5;
    font-family: var(--titleFont);
    text-transform: uppercase;
}